<!DOCTYPE html>
<html lang="en">
<body id="page-top">
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Arteaga Castillo
                    <span class="text-primary">Jorge Arturo  </span>
                </h1>
                <div class="subheading mb-5">
                    CDMX, MEXICO · (562) 491-3095·
                    <a href="mailto:name@email.com">aarteagac64@gmail.com</a>
                </div>
                <p class="lead mb-5"> Desarrollador Jr con experiencia en programación web haciendo uso de tecnologías como .Net Framework y .NET Core. Me enfoco en el desarrollo y mantenimiento de diferentes requerimientos, consumo de servicios y consultas en la base de datos mediante SQL Server.</p>

                <section class="resume-section" id="skills">
                    <div class="resume-section-content">
                        <h2 class="mb-5">Skills</h2>
                        <div class="subheading mb-3">Programming Languages & Tools</div>
                        <ul class="list-inline dev-icons">
                            <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                            <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                            <li class="list-inline-item"><i class="fab fa-react"></i></li>
                            <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                        </ul>
                        <div class="subheading mb-3">Workflow</div>
                        <ul class="fa-ul mb-0">
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Mobile-First, Responsive Design
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Cross Browser Testing & Debugging
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Cross Functional Teams
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Agile Development & Scrum
                            </li>
                        </ul>
                    </div>
                </section>



            </div>
        </section>
        <hr class="m-0" />
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/Content/js/scripts.js"></script>
</body>
</html>
